
{% if telegraf_influxdb_urls is defined and telegraf_influxdb_urls != None %}

# Configuration for influxdb server to send metrics to
{% if telegraf_influxdb_urls is defined and telegraf_influxdb_urls != None %}
[[outputs.influxdb]]
{% endif %}
  # The full HTTP or UDP endpoint URL for your InfluxDB instance.
  # Multiple urls can be specified but it is assumed that they are part of the same
  # cluster, this means that only ONE of the urls will be written to each interval.
  # urls = ["udp://localhost:8089"] # UDP endpoint example
{% if telegraf_influxdb_urls is defined and telegraf_influxdb_urls != None %}
  urls = [ "{{ telegraf_influxdb_urls|join('","') }}" ] # required
{% endif %}

  # The target database for metrics (telegraf will create it if not exists)
{% if telegraf_influxdb_database is defined and telegraf_influxdb_database != None %}
  database = "{{ telegraf_influxdb_database }}" # required
{% endif %}
  # Precision of writes, valid values are n, u, ms, s, m, and h
  # note: using second precision greatly helps InfluxDB compression
{% if telegraf_influxdb_precision is defined and telegraf_influxdb_precision != None %}
  precision = "{{ telegraf_influxdb_precision }}"
{% endif %}

  ## Retention policy to write to.
{% if telegraf_influxdb_retention_policy is defined and telegraf_influxdb_retention_policy != None %}
  retention_policy = "{{ telegraf_influxdb_retention_policy }}"
{% endif %}
  ## Write consistency (clusters only), can be: "any", "one", "quorom", "all"
{% if telegraf_influxdb_write_consistency is defined and telegraf_influxdb_write_consistency != None %}
  write_consistency = "{{ telegraf_influxdb_write_consistency }}"
{% endif %}
  # Connection timeout (for the connection with InfluxDB), formatted as a string.
  # If not provided, will default to 0 (no timeout)
{% if telegraf_influxdb_timeout is defined and telegraf_influxdb_timeout != None %}
  timeout = "{{ telegraf_influxdb_timeout }}"
{% endif %}
{% if telegraf_influxdb_username is defined and telegraf_influxdb_username != None %}
  username = "{{ telegraf_influxdb_username }}"
{% endif %}
{% if telegraf_influxdb_password is defined and telegraf_influxdb_password != None %}
  password = "{{ telegraf_influxdb_password }}"
{% endif %}
  # Set the user agent for HTTP POSTs (can be useful for log differentiation)
{% if telegraf_influxdb_user_agent is defined and telegraf_influxdb_user_agent != None %}
  user_agent = "{{ telegraf_influxdb_user_agent }}"
{% endif %}
  # Set UDP payload size, defaults to InfluxDB UDP Client default (512 bytes)
{% if telegraf_influxdb_udp_payload is defined and telegraf_influxdb_udp_payload != None %}
  udp_payload = {{ telegraf_influxdb_udp_payload }}
{% endif %}

  ## Optional SSL Config
{% if telegraf_influxdb_ssl_ca is defined and telegraf_influxdb_ssl_ca != None %}
  ssl_ca = "{{ telegraf_influxdb_ssl_ca }}"
{% endif %}
{% if telegraf_influxdb_ssl_cert is defined and telegraf_influxdb_ssl_cert != None %}
  ssl_cert = "{{ telegraf_influxdb_ssl_cert }}"
{% endif %}
{% if telegraf_influxdb_ssl_key is defined and telegraf_influxdb_ssl_key != None %}
  ssl_key = "{{ telegraf_influxdb_ssl_key }}"
{% endif %}

{% if telegraf_influxdb_insecure_skip_verify is defined and telegraf_influxdb_insecure_skip_verify != None %}
  ## Use SSL but skip chain & host verification
  insecure_skip_verify = {{ telegraf_influxdb_insecure_skip_verify }}
{% endif %}

{% endif %}
